body{
    background-color: rgb(252, 239, 239);
    text-align: left;
}
h1{
    color: rgb(0, 92, 0);
}
h3{
    color: rgb(255, 255, 255);
}
.navbar {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgb(43, 255, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
  }